.root {
}
.button {
  background-color: #304474;
  background-repeat: repeat;
  background-image: none;
  background-position: 0%;
  background-size: auto;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
  border: 1px solid #530909;
  border-radius: 8;
  width: 200px;
  text-align: center;
  color: #356c91;
}
